.phone{
    font-size: 3.5vh;
    font-weight: bold;
    font-family: Impact;
    text-align: center;
    line-height: 80%;
    margin-bottom: 1em;
    color: black;
    text-shadow:  0 0 0.2em rgb(56, 56, 232);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    letter-spacing: 1px;
}

.top-right-phone{
    font-size: 1.4vw;
    color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    font-weight:bolder;
    @media (max-width: 768px){
        font-size: 1.5em;
    }

}
@media (max-width: 768px){
    .nav-phone{
        width: 100%;
        text-align: right;
    }
}

.mailing-address{
    margin-bottom: 0.3em;
}

.mailing-address span{
    font-size: 2vh;
}

.owners span{
    font-size: 1.5vh;
}

.footer a{
    color: black;
}

.navbar{
    background-color: rgba(70, 68, 68, 0.495);
}
.nav-materials, .nav-gallery{
    background-color: rgba(70, 68, 68, 0.886);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.bottom {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.contact-box{
    /* border: solid 3px black; */
    justify-content: center;
    margin: auto;
}

.pic-container {
    position: relative;
    color: white;
  }

  .pic-container img{
    border-radius: 2em;
  }

  .pic-txt-bottom{
    font-size: 2vw;
    @media (max-width: 768px) {
        font-size: 1.2em;
    }
  }

.text-animation {
    font-size: 2.5em;
	text-decoration: underline;
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 1s ease-in-out infinite alternate;

	&:hover {
		color: #fff;
	}
    @media (max-width: 768px) {
		font-size: 1.3em;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px #2962ff;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px #2962ff;
	}
}

.materials-main span{
    font-weight: bolder;
}
.materials-main h5{
    font-weight: bolder;
}